<!DOCTYPE html>
<html lang="ko">
<% include layout/head %>

<body>
    <% include layout/nav %>
    <div class="container">
        <div class="row mt-4">
            <h1>날씨</h1>
            <div class="col-10 offset-1">
                <table class="table table-striped">
                    <tr>
                        <th>기온</th>
                        <th>강수량</th>
                        <th width="60%">시간</th>
                    </tr>
                    <tr>
                        <td><%= result[0]%></td>
                    </tr>
            </div>
        </div>
    </div>
</body>

</html>